{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ERROR TAGS</title>
    <script src="{% static "js/jquery.js" %}"></script>
    <link href="{% static "css/bootstrap.flatly.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
          <link href="{% static "css/style.css" %}" rel="stylesheet">
          <link href="{% static "css/styles.css" %}" rel="stylesheet">
	<script language="JavaScript" src="{% static "js/gramsel.js" %}"></script>
	<script language="JavaScript" src="{% static "js/urlprocessor.js" %}"></script>

</head>
<body onLoad="InitWindow()">
<div class="container">
<div class="row">

  <form name="gramForm" id="gramForm" action="">
    <div class="row">
        <div class="col-sm-4">
<div class="panel panel-default">
          <div class="panel-heading">
            <h3 title="Invert" class="panel-title gr_inv activeA grammar" onClick="inverse('orpho')">Орфографические ошибки</h3>
          </div>
        <div class="panel-body">
          <div class="gr_group">
<input type="checkbox" name="orpho" value="Graph" id="orphograph">&nbsp;<label for="orphograph">Graph</label><br/>
<input type="checkbox" name="orpho" value="Hyphen" id="orphohyphen">&nbsp;<label for="orphohyphen">Hyphen</label><br/>
<input type="checkbox" name="orpho" value="Space" id="orphospace">&nbsp;<label for="orphospace">Space</label><br/>
<input type="checkbox" name="orpho" value="Ortho" id="orphoortho">&nbsp;<label for="orphoortho">Ortho</label><br/>
<input type="checkbox" name="orpho" value="Translit" id="orphotranslit">&nbsp;<label for="orphotranslit">Translit</label><br/>
<input type="checkbox" name="orpho" value="Misspell" id="orphomisspell">&nbsp;<label for="orphomisspell">Misspell</label><br/>
          </div>
        </div>
        </div>
<div class="panel panel-default">
          <div class="panel-heading">
            <h3 title="Invert" class="panel-title activeA  gr_inv grammar" onClick="inverse('lexis')">Лексические ошибки</h3>
          </div>
        <div class="panel-body">
          <div class="gr_group">
<input type="checkbox" name="lexis" value="lex" id="lexislex">&nbsp;<label for="lexislex">Lex</label><br/>
<input type="checkbox" name="lexis" value="CS" id="lexisword">&nbsp;<label for="lexisword">CS</label><br/>
<input type="checkbox" name="lexis" value="Par" id="lexisphrase">&nbsp;<label for="lexisphrase">Par</label><br/>
<input type="checkbox" name="lexis" value="Idiom" id="lexismeton">&nbsp;<label for="lexismeton">Idiom</label><br/>
          </div>
        </div>
        </div>
<div class="panel panel-default">
          <div class="panel-heading">
            <h3 title="Invert" class="gr_inv panel-title activeA grammar" onClick="inverse('constr')">Ошибки в конструкциях</h3>
          </div>
        <div class="panel-body">
          <div class="gr_group">
<input type="checkbox" name="constr" value="Constr" id="constrconstr">&nbsp;<label for="constrconstr">Constr</label><br/>
          </div>
        </div>
        </div>
    </div>
<div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 title="Invert" class="gr_inv panel-title activeA grammar" onClick="inverse('morpho')">Морфологические ошибки</h3>
          </div>
        <div class="panel-body">
          <div class="gr_group">
<input type="checkbox" name="morpho" value="Deriv" id="morphoderiv">&nbsp;<label for="morphoderiv">Deriv</label><br/>
<input type="checkbox" name="morpho" value="Infl" id="morphoinfl">&nbsp;<label for="morphoinfl">Infl</label><br/>
<input type="checkbox" name="morpho" value="Num" id="morphonum">&nbsp;<label for="morphonum">Num</label><br/>
<input type="checkbox" name="morpho" value="Gender" id="morphogender">&nbsp;<label for="morphogender">Gender</label><br/>
<input type="checkbox" name="morpho" value="Morpho" id="morphomorpho">&nbsp;<label for="morphomorpho">Morpho</label><br/>
          </div>
        </div>
        </div>
    <div class="panel panel-default">
          <div class="panel-heading">
            <h3  title="Invert" class="panel-title activeA grammar gr_inv"  onClick="inverse('cause')">Причина ошибки</h3>
          </div>
        <div class="panel-body">
          <div class="gr_group">
<input type="checkbox" name="cause" value="Cause" id="causecause">&nbsp;<label for="causecause">Cause</label><br/>
<input type="checkbox" name="cause" value="Typo" id="causetypo">&nbsp;<label for="causetypo">Typo</label><br/>
<input type="checkbox" name="cause" value="Contam" id="causecontam">&nbsp;<label for="causecontam">Contam</label><br/>
          </div>
        </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title gr_inv activeA grammar"  onClick="inverse('additional')">Дополнительные пометы</h3>
        </div>
        <div class="panel-body">
          <div class="gr_group">
<input type="checkbox" name="additional" value="Transfer" id="additionaltransfer">&nbsp;<label for="additionaltransfer">Transfer</label><br/>
<input type="checkbox" name="additional" value="Not-clear" id="additionalnotclear">&nbsp;<label for="additionalnotclear">Not-clear</label><br/>
<input type="checkbox" name="additional" value="Del" id="additionaldelw">&nbsp;<label for="additionaldelw">Del</label><br/>
<input type="checkbox" name="additional" value="Insert" id="additionalinsertw">&nbsp;<label for="additionalinsertw">Insert</label><br/>
<input type="checkbox" name="additional" value="Subst" id="orphosubst">&nbsp;<label for="orphosubst">Subst</label><br/>
<input type="checkbox" name="additional" value="Transp" id="orphotransp">&nbsp;<label for="orphotransp">Transp</label><br/>
          </div>
        </div>
        </div>
      </div>
<div class="col-sm-4">
<div class="panel panel-default">
          <div class="panel-heading">
            <h3 title="Invert" class="panel-title gr_inv activeA grammar"  onClick="inverse('syntax')">Синтаксические ошибки</h3>
          </div>
        <div class="panel-body">
          <div class="gr_group">
<input type="checkbox" name="syntax" value="Asp" id="syntaxasp">&nbsp;<label for="syntaxasp">Asp</label><br/>
<input type="checkbox" name="syntax" value="ArgStr" id="syntaxargstr">&nbsp;<label for="syntaxargstr">ArgStr</label><br/>
<input type="checkbox" name="syntax" value="Passive" id="syntaxpassiv">&nbsp;<label for="syntaxpassiv">Passive</label><br/>
<input type="checkbox" name="syntax" value="Reflex" id="syntaxrefl">&nbsp;<label for="syntaxrefl">Reflex</label><br/>
<input type="checkbox" name="syntax" value="AgrNum" id="syntaxagrnum">&nbsp;<label for="syntaxagrnum">AgrNum</label><br/>
<input type="checkbox" name="syntax" value="AgrCase" id="syntaxagrcase">&nbsp;<label for="syntaxagrcase">AgrCase</label><br/>
<input type="checkbox" name="syntax" value="AgrGender" id="syntaxagrgender">&nbsp;<label for="syntaxagrgender">AgrGender</label><br/>
<input type="checkbox" name="syntax" value="AgrPers" id="syntaxagrpers">&nbsp;<label for="syntaxagrpers">AgrPers</label><br/>
<input type="checkbox" name="syntax" value="AgrGerund" id="syntaxagrgerund">&nbsp;<label for="syntaxagrgerund">AgrGerund</label><br/>
<input type="checkbox" name="syntax" value="Gov" id="syntaxgov">&nbsp;<label for="syntaxgov">Gov</label><br/>
<input type="checkbox" name="syntax" value="Ref" id="syntaxref">&nbsp;<label for="syntaxref">Ref</label><br/>
<input type="checkbox" name="syntax" value="Conj" id="syntaxconj">&nbsp;<label for="syntaxconj">Conj</label><br/>
<input type="checkbox" name="syntax" value="WO" id="syntaxwo">&nbsp;<label for="syntaxwo">WO</label><br/>
<input type="checkbox" name="syntax" value="Neg" id="syntaxneg">&nbsp;<label for="syntaxneg">Neg</label><br/>
<input type="checkbox" name="syntax" value="Aux" id="syntaxaux">&nbsp;<label for="syntaxaux">Aux</label><br/>
<input type="checkbox" name="syntax" value="Brev" id="syntaxbrev">&nbsp;<label for="syntaxbrev">Brev</label><br/>
<input type="checkbox" name="syntax" value="Syntax" id="syntaxsyn">&nbsp;<label for="syntaxsyn">Syntax</label><br/>
          </div>
        </div>
        </div>
      </div>
        </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel-footer" align="center">
<input type="button" class="btn btn-default" onClick="collect();return false;" value="OK">
<input type="button" class="btn btn-default" onClick="document.all.gramForm.reset();return false;" value="CLEAR">
<input type="button" class="btn btn-default" onClick="window.close();return false;" value="CANCEL">
        </div>
      </div>
    </div>
  </form>
</div>
</div>
</body>
</html>
